.padding
{
	margin: 0;
	padding-bottom: 5000px;
}

.bg
{
	position: relative;
	background: #9DD9F3 url("backgroundTree.png");
	height: 47vh;
	background-size: cover;
	background-position: 0 0;
	background-repeat: repeat-x;
	animation: animate 50s linear infinite;
	z-index: 0
}
	@keyframes animate
	{
		from {
		background-position: 0 0;
		}
		to {
		background-position: 100% 0;
		}
	}


#shapeOne {
	position: relative; left: 1000px; bottom: -2850px; 
	height: 150px;
 	width: 150px;
 	background-color: darkorange;
 	border-radius: 80px;
 	margin-bottom: 30px;
 	float: left;
 	margin-right: 20px;
	}
	
		#shapeOne:hover, #shapeOne:active {
 		border-radius: 80px;
 		height: 150px;
 		width: 150px;
 		background-color: green;
		}

#shapeTwo {
	position: relative; left: 220px; bottom: -1000px; 
	height: 150px;
 	width: 150px;
 	background-color: red;
 	margin-bottom: 30px;
 	float: left;
 	margin-right: 20px;
	}

		#shapeTwo:hover, #shapeTwo:active {
 		height: 150px;
 		width: 150px;
 		background-color: darkorange;
		}

#shapeThree {
	position: relative; left: 80px; bottom: -4400px;
	height: 0;
	width: 0;
    border-left: 75px solid transparent;
    border-right: 75px solid transparent;
    border-bottom: 150px solid green;
    float: left;
    }

		#shapeThree:hover, #shapeThree:active {
    	width: 0;
    	height: 0;
    	border-left: 75px solid transparent;
    	border-right: 75px solid transparent;
    	border-bottom: 150px solid red;
    	}


.tree{
	z-index: 1
	}
	img:hover {
  	opacity: 0.5;
}

#container{
    width: 100%; 
    margin: auto;
    text-align: center;
    font-family: Helvetica;
}
#pageTitle{
    color:white;
	font-size: 115px;
	position: relative;
	top: -5px;
}

.bodyText{
    color: white;
    font-size: 25px;
    position: relative;
    top: -30px;
}

.treeShape1{
	position: relative; left: 480px; bottom: -300px;
	height: 0;
	width: 0;
    border-left: 75px solid transparent;
    border-right: 75px solid transparent;
    border-bottom: 100px solid green;
    float: left;
    }
 .treeShape2{
	position: relative; left: 285px; bottom: -355px;
	height: 0;
	width: 0;
    border-left: 120px solid transparent;
    border-right: 120px solid transparent;
    border-bottom: 160px solid green;
    float: left;
    }
 .treeShape3{
	position: relative; left: 5px; bottom: -415px;
	height: 0;
	width: 0;
    border-left: 160px solid transparent;
    border-right: 160px solid transparent;
    border-bottom: 230px solid green;
    float: left;
    }

.treeShape4{
	position: relative; left: -355px; bottom: -500px;
	height: 0;
	width: 0;
    border-left: 200px solid transparent;
    border-right: 200px solid transparent;
    border-bottom: 300px solid green;
    float: left;
    }

.roadShape{
	position: relative; left: -300px; bottom: -495px;
	height: 0;
	width: 0;
    border-left: 200px solid transparent;
    border-right: -50px solid transparent;
    border-bottom: 330px solid grey;
    float: left;
    }
.treeShape5{
	position: relative; left: 480px; bottom: -300px;
	height: 0;
	width: 0;
    border-left: 75px solid transparent;
    border-right: 75px solid transparent;
    border-bottom: 100px solid green;
    float: left;
    }
 .treeShape6{
	position: relative; left: 285px; bottom: -355px;
	height: 0;
	width: 0;
    border-left: 120px solid transparent;
    border-right: 120px solid transparent;
    border-bottom: 160px solid green;
    float: left;
    }
 .treeShape7{
	position: relative; left: 5px; bottom: -415px;
	height: 0;
	width: 0;
    border-left: 160px solid transparent;
    border-right: 160px solid transparent;
    border-bottom: 230px solid green;
    float: left;
    }

.treeShape8{
	position: relative; left: -355px; bottom: -500px;
	height: 0;
	width: 0;
    border-left: 200px solid transparent;
    border-right: 200px solid transparent;
    border-bottom: 300px solid green;
    float: left;
    }




