.padding
{
	margin: 0;
	padding-bottom: 800px;
}

.bg
{
	position: relative;
	background: #9DD9F3 url("backgroundTree.png");
	height: 35vh;
	background-size: cover;
	background-position: 0 0;
	background-repeat: repeat-x;
	animation: animate 50s linear infinite;
	z-index: 0
}
	@keyframes animate
	{
		from {
		background-position: 0 0;
		}
		to {
		background-position: 100% 0;
		}
	}


#shapeOne {
	position: absolute; left: 1150px; bottom: 100px; 
	height: 110px;
 	width: 110px;
 	background-color: darkorange;
 	border-radius: 80px;
 	margin-bottom: 30px;
 	float: left;
 	margin-right: 20px;
	}
	
		#shapeOne:hover, #shapeOne:active {
 		border-radius: 80px;
 		height: 110px;
 		width: 110px;
 		background-color: #9DD9F3;
		}

#shapeTwo {
	position: absolute; left: 760px; bottom: 100px; 
	height: 110px;
 	width: 110px;
 	background-color: green;
 	margin-bottom: 30px;
 	float: left;
 	margin-right: 20px;
	}

		#shapeTwo:hover, #shapeTwo:active {
 		height: 110px;
 		width: 110px;
 		background-color: #9DD9F3;
		}

#shapeThree {
	position: absolute; left: 360px; bottom: 130px;
	height: 0;
	width: 0;
    border-left: 55px solid transparent;
    border-right: 55px solid transparent;
    border-bottom: 110px solid red;
    float: left;
    }

		#shapeThree:hover, #shapeThree:active {
    	width: 0;
    	height: 0;
    	border-left: 55px solid transparent;
    	border-right: 55px solid transparent;
    	border-bottom: 110px solid #9DD9F3;
    	}

.links {
	position: absolute; left: 740px; bottom: -200px;
	width: 100%
	margin: auto;
	text-align: center;
	color: white;
	font-size: 20px;
	font-family: Helvetica;
	}


#container {
    width: 100%; 
    margin: auto;
    text-align: center;
    font-family: Helvetica;
}
#pageTitle {
    color:white;
	font-size: 115px;
	position: relative;
	top: -5px;
}

.bodyText {
    color: white;
    font-size: 25px;
    position: relative;
    top: -30px;
}

#treeShape {
	z-index: 900;
	}


	.tree{
		z-index: 1
		}
		img:hover {
	  	opacity: 0.5;
	}

	.treetrunk {
		position:absolute; left: 230px; bottom: 100px;
	    width: 0;
	    height: 0;
	    border-left: 80px solid transparent;
	    border-right: 80px solid transparent;
	    border-bottom: 3000px solid #7e5438;
		}

	.treeShape1 {
		position:absolute; left: 1300px; bottom: 100px;
	    width: 0;
	    height: 0;
	    border-left: 60px solid transparent;
	    border-right: 60px solid transparent;
	    border-bottom: 2000px solid #7e5438;
		}

	.treeShape2 {
		position:absolute; left: 1100px; bottom: 250px;
	    width: 0;
	    height: 0;
	    border-left: 20px solid transparent;
	    border-right: 20px solid transparent;
	    border-bottom: 1000px solid #3D2314;
		}

	.treeShape3 {
		position:absolute; left: 740px; bottom: 250px;
	    width: 0;
	    height: 0;
	    border-left: 30px solid transparent;
	    border-right: 30px solid transparent;
	    border-bottom: 2000px solid #5A3825;
		}

	.treeShape4{
		position:absolute; left: 500px; bottom: 230px;
	    width: 0;
	    height: 0;
	    border-left: 30px solid transparent;
	    border-right: 30px solid transparent;
	    border-bottom: 2000px solid #3D2314;
		}

	.treeShape5{
		position:absolute; left: 600px; bottom: 280px;
	    width: 0;
	    height: 0;
	    border-left: 20px solid transparent;
	    border-right: 20px solid transparent;
	    border-bottom: 2000px solid #3D2314;
		}

	.treeShape6{
		position:absolute; left: 980px; bottom: 220px;
	    width: 0;
	    height: 0;
	    border-left: 30px solid transparent;
	    border-right: 30px solid transparent;
	    border-bottom: 2000px solid #7e5438;
		}

	.treeShape7{
		position:absolute; left: 1200px; bottom: 140px;
	    width: 0;
	    height: 0;
	    border-left: 30px solid transparent;
	    border-right: 30px solid transparent;
	    border-bottom: 2000px solid #5A3825;
		}

	.treeShape8{
		position:absolute; left: 1200px; bottom: 140px;
	    width: 0;
	    height: 0;
	    border-left: 30px solid transparent;
	    border-right: 30px solid transparent;
	    border-bottom: 2000px solid #5A3825;
		}

	.treebranch1{
		position:absolute; left: 300px; bottom: 500px;
 		width: 200px;
  		height: 13px;
  		transform: rotate(-20deg);
 		background: #7e5438;
 		}

	.treebranch2{
		position:absolute; left: 487px; bottom: 517px;
 		width: 100px;
  		height: 13px;
  		transform: rotate(20deg);
 		background: #7e5438;
		}
	.treebranch3{
		position:absolute; left: 450px; bottom: 707px;
 		width: 80px;
  		height: 8px;
  		transform: rotate(50deg);
 		background: #3D2314;
		}
	.treebranch4{
		position:absolute; left: 599px; bottom: 407px;
 		width: 100px;
  		height: 8px;
  		transform: rotate(30deg);
 		background: #3D2314;
		}
	.treebranch5{
		position:absolute; left: 580px; bottom: 867px;
 		width: 40px;
  		height: 8px;
  		transform: rotate(50deg);
 		background: #3D2314;
		}
	.treebranch6{
		position:absolute; left: 515px; bottom: 540px;
 		width: 60px;
  		height: 9px;
  		transform: rotate(-30deg);
 		background: #7e5438;
		}
	.treebranch7{
		position:absolute; left: 1015px; bottom: 540px;
 		width: 60px;
  		height: 9px;
  		transform: rotate(-30deg);
 		background: #7e5438;
		}
	.treebranch8{
		position:absolute; left: 945px; bottom: 740px;
 		width: 60px;
  		height: 9px;
  		transform: rotate(30deg);
 		background: #7e5438;
		}
	.treebranch9{
		position:absolute; left: 1265px; bottom: 540px;
 		width: 60px;
  		height: 16px;
  		transform: rotate(-30deg);
 		background: #7e5438;
		}
	.treebranch10{
		position:absolute; left: 1215px; bottom: 548px;
 		width: 70px;
  		height: 13px;
  		transform: rotate(40deg);
 		background: #7e5438;
		}
	.treebranch11{
		position:absolute; left: 1165px; bottom: 760px;
 		width: 60px;
  		height: 9px;
  		transform: rotate(40deg);
 		background: #5A3825;
		}



#path {} 

	.path1 {
		position:absolute; left: 890px; bottom: 183px;
	    width: 20px;
        height: 7px;
        background: darkgrey;
        border-radius: 100px / 50px;
		}

	.path2 {
		position:absolute; left: 893px; bottom: 165px;
	    width: 25px;
        height: 12px;
        background: darkgrey;
        border-radius: 100px / 50px;
		}

	.path3 {
		position:absolute; left: 897px; bottom: 140px;
	    width: 35px;
        height: 17px;
        background: darkgrey;
        border-radius: 100px / 50px;
		}

	.path4 {
		position:absolute; left: 905px; bottom: 106px;
	    width: 46px;
        height: 25px;
        background: darkgrey;
        border-radius: 100px / 50px;
		}

	.path5 {
		position:absolute; left: 912px; bottom: 61px;
	    width: 66px;
        height: 35px;
        background: darkgrey;
        border-radius: 100px / 50px;
		}

#house {
	z-index: 950;
	}

	.roof {
		position:absolute; left: 800px; bottom: 300px;
	    width: 150px;
	    height: 100px;
	    transform: skew(20deg);
	    background: red;
	    }

	.front {
		position:absolute; left: 818px; bottom: 200px;
		width: 130px;
		height: 100px;
		background: darkgrey;
		}

	.side {
		position:absolute; left: 763px; bottom: 200px;
		width: 55px;
		height: 100px;
		background: #616161;
		} 

	.sideroof {
		position:absolute; left: 752px; bottom: 300px;
    	width: 0;
    	height: 0;
    	border-left: 30px solid transparent;
    	border-right: 36px solid transparent;
    	border-bottom: 100px solid darkred;
    	}

    .door {
    	position:absolute; left: 880px; bottom: 200px;
	 	width: 20px;
	 	height: 50px;
	 	background: red;
    	}

    .window1 {
    	position:absolute; left: 840px; bottom: 230px;
	 	width: 20px;
	 	height: 20px;
	 	background: yellow;
    	}

    .window2 {
    	position:absolute; left: 916px; bottom: 230px;
	 	width: 18px;
	 	height: 20px;
	 	background: yellow;
    	}

    .windowpane1 {
    	position:absolute; left: 840px; bottom: 238.5px;
	 	width: 20px;
	 	height: 3px;
	 	background: #616161;
    	}

    .windowpane2 {
    	position:absolute; left: 849px; bottom: 230px;
	 	width: 3px;
	 	height: 20px;
	 	background: #616161;
    	}

    .windowpane3 {
    	position:absolute; left: 916px; bottom: 238.5px;
	 	width: 18px;
	 	height: 3px;
	 	background: #616161;
    	}

    .windowpane4 {
    	position:absolute; left: 924px; bottom: 230px;
	 	width: 3px;
	 	height: 20px;
	 	background: #616161;
    	}

	.blacktriangle {
		position:absolute; left: 750px; bottom: 140px;
      	width: 0;
     	height: 0;
      	border-top: 30px solid transparent;
      	border-left: 100px solid #092215;
     	border-bottom: 50px solid transparent;
    	}

#moon {}

    .moon {
    	position:absolute; left: 1100px; bottom: 760px;
		width: 100px;
		height: 100px;
		background: #f5f3ce;
		border-radius: 50%;
		z-index: -3; 
    	}

    .mooncutout {
 		position:absolute; left: 1145px; bottom: 790px;
		width: 80px;
		height: 80px;
		background: black;
		border-radius: 50%;
		z-index: -3; 
    	}

#grass {}

    .grass1 {
    	padding-bottom: 1900px; 
  		position:absolute; left: 0px; bottom: -1700px;
		width: 1600px;
		height: 110px;
		background: #092215;
		z-index: -1; 
    	}

#clouds {}

	.cloud1 {
		position: absolute; left: 800px; bottom: 800px;
		width: 100px;
      	height: 50px;
      	background: darkgrey;
      	border-radius: 100px / 50px;
      	z-index: -2;
		}

	.cloud2 {
		position: absolute; left: 750px; bottom: 790px;
		width: 80px;
      	height: 40px;
      	background: grey;
      	border-radius: 100px / 50px;
      	z-index: -2;
		}

	.cloud3 {
		position: absolute; left: 840px; bottom: 780px;
		width: 150px;
      	height: 70px;
      	background: grey;
      	border-radius: 100px / 50px;
      	z-index: -2;
		}

	.cloud4 {
		position: absolute; left: 800px; bottom: 765px;
		width: 100px;
      	height: 50px;
      	background: grey;
      	border-radius: 100px / 50px;
      	z-index: -2;
		}

	.cloud5 {
		position: absolute; left: 940px; bottom: 770px;
		width: 90px;
      	height: 40px;
      	background: darkgrey;
      	border-radius: 100px / 50px;
      	z-index: -2;
		}

	.cloud6 {
		position: absolute; left: 990px; bottom: 780px;
		width: 85px;
      	height: 40px;
      	background: grey;
      	border-radius: 100px / 50px;
      	z-index: -2;
		}

	.cloud7 {
		position: absolute; left: 1150px; bottom: 757px;
		width: 50px;
      	height: 25px;
      	background: darkgrey;
      	border-radius: 100px / 50px;
      	z-index: -2;
		}

	.cloud8 {
		position: absolute; left: 1170px; bottom: 735px;
		width: 100px;
      	height: 50px;
      	background: grey;
      	border-radius: 100px / 50px;
      	z-index: -2;
		}

	.cloud9 {
		position: absolute; left: 1230px; bottom: 750px;
		width: 80px;
      	height: 40px;
      	background: darkgrey;
      	border-radius: 100px / 50px;
      	z-index: -2;
		}

	.cloud10 {
		position: absolute; left: 710px; bottom: 780px;
		width: 75px;
      	height: 30px;
      	background: darkgrey;
      	border-radius: 100px / 50px;
      	z-index: -2;
		}

	.cloud11 {
		position: absolute; left: 500px; bottom: 700px;
		width: 120px;
      	height: 50px;
      	background: darkgrey;
      	border-radius: 100px / 50px;
      	z-index: -2;
		}

	.cloud12 {
		position: absolute; left: 450px; bottom: 720px;
		width: 80px;
      	height: 40px;
      	background: darkgrey;
      	border-radius: 100px / 50px;
      	z-index: -2;
		}

	.cloud13 {
		position: absolute; left: 400px; bottom: 680px;
		width: 120px;
      	height: 60px;
      	background: grey;
      	border-radius: 100px / 50px;
      	z-index: -2;
		}

	.cloud14 {
		position: absolute; left: 350px; bottom: 700px;
		width: 70px;
      	height: 35px;
      	background: grey;
      	border-radius: 100px / 50px;
      	z-index: -2;
		}

	.cloud15 {
		position: absolute; left: 675px; bottom: 793px;
		width: 50px;
      	height: 25px;
      	background: darkgrey;
      	border-radius: 100px / 50px;
      	z-index: -2;
		}

	.cloud16 {
		position: absolute; left: 180px; bottom: 720px;
		width: 130px;
      	height: 65px;
      	background: grey;
      	border-radius: 100px / 50px;
      	z-index: -2;
		}

	.cloud17 {
		position: absolute; left: 145px; bottom: 710px;
		width: 65px;
      	height: 32.5px;
      	background: grey;
      	border-radius: 100px / 50px;
      	z-index: -2;
		}

	.cloud18 {
		position: absolute; left: 1360px; bottom: 670px;
		width: 100px;
      	height: 50px;
      	background: darkgrey;
      	border-radius: 100px / 50px;
      	z-index: -2;
		}

	.forestTitle {
		position: absolute; left: 200px; bottom: -290px;
		color: white;
		margin-left: 150px;
		margin-right: 300px;
		max-width: 1200px;
		font-size: 69px;
		font-family: Helvetica;
		z-index: 100;
		}


	.pgoneF {
		position: absolute; left: 200px; bottom: -1100px;
		color: white;
		margin-left: 150px;
		margin-right: 300px;
		max-width: 1200px;
		font-size: 20px;
		font-family: Helvetica;
		line-height: 28px;
		z-index: 100;
		}

	.citationF {
		position: absolute; left: 200px; bottom: -1650px;
		color: white;
		margin-left: 150px;
		margin-right: 300px;
		max-width: 1200px;
		font-size: 14px;
		font-family: Helvetica;
		line-height: 28px;
		z-index: 100;
		}

    




	.pgcontent {
		padding-bottom: 300px; 
	    color:white;
		font-size: 65px;
		position: relative;
		top: -300px;
		display: flex;
		justify-content: center;
		align-items: center;
		min-height: 100vh;
		font-family: Helvetica;
		z-index: -1;
		}

	.pgtitleReveal {
		max-width: 1000px;
		}
		.pgtitleReveal span
		{
		display: inline-block;
		position: relative;
		opacity: 0;
		transition: 1s: 
		font-size: 4em;
		}

	.pgone {
		margin-left: 300px;
		margin-right: 350px;
		position: relative;
		top: -850px;
		color:white;
		font-size: 20px;
		font-family: Helvetica;
		line-height: 28px;
		}

	.pgtwo {
		margin-left: 300px;
		margin-right: 350px;
		position: relative;
		top: -750px;
		color:white;
		font-size: 20px;
		font-family: Helvetica;
		line-height: 28px;
		}

	.pgthree {
		margin-left: 300px;
		margin-right: 350px;
		position: relative;
		top: -650px;
		color:white;
		font-size: 20px;
		font-family: Helvetica;
		line-height: 28px;
		}

	.citation {
		margin-left: 300px;
		margin-right: 350px;
		position: relative;
		top: -60px;
		color:white;
		font-size: 14px;
		font-family: Helvetica;
		}




section {
	position: absolute;
	top: 50%;
	left: 50%;

	transform-style: preserve-3d;
	backface-visibility: hidden;

	transform: rotateX(320deg) rotateY(-230deg)
	}

div.treeBB {
	z-index: 900;
	}

div.face {
	position: absolute;
	top: 0;
	left: 0;
	background-size: cover;
	z-index: -1;
	}

div.basketballFront {
	width: 150px;
	height: 150px;
	background-image: url("BasketballFront.jpg");
	transform: translateX(-50%) translateY(-50%) translateZ(75px);
	z-index: -1;
	}

div.basketballRight {
	width: 150px;
	height: 150px;
	background-image: url("BasketballRight.jpg");
	transform: translateX(-50%) translateY(-50%) rotateY(90deg) translateZ(75px);
	z-index: -1;
	}

div.basketballLeft {
	width: 150px;
	height: 150px;
	background-image: url("BasketballLeft.jpg");
	transform: translateX(-50%) translateY(-50%) rotateY(-90deg) translateZ(75px);
	z-index: -1;
	}

div.basketballTop {
	width: 150px;
	height: 150px;
	background-image: url("BasketballTop.jpg");
	transform: translateX(-50%) translateY(-50%) rotateY(180deg) rotateX(90deg) translateZ(75px);
	z-index: -1;
	}

div.basketballBottom {
	width: 150px;
	height: 150px;
	background-image: url("BasketballBottom.jpg");
	transform: translateX(-50%) translateY(50%) rotateY(180deg) rotateX(90deg) translateZ(75px);
	z-index: -1;
	}

div.basketballBack {
	width: 150px;
	height: 150px;
	background-image: url("BasketballBack.jpg");
	transform: translateX(-50%) translateY(-50%) rotateY(180deg) translateZ(75px);
	z-index: -1;
	}

.Rim {
	opacity: 100%;
	position: absolute; left: 635px; bottom: 200px;
	pointer-events: none;
	}
