.padding
{
	margin: 0;
	padding-bottom: 5000px;
}

.bg
{
	position: relative;
	background: #9DD9F3 url("backgroundTree.png");
	height: 47vh;
	background-size: cover;
	background-position: 0 0;
	background-repeat: repeat-x;
	animation: animate 50s linear infinite;
	z-index: 0
}
	@keyframes animate
	{
		from {
		background-position: 0 0;
		}
		to {
		background-position: 100% 0;
		}
	}


#shapeOne {
	position: relative; left: 1000px; bottom: -2850px; 
	height: 150px;
 	width: 150px;
 	background-color: darkorange;
 	border-radius: 80px;
 	margin-bottom: 30px;
 	float: left;
 	margin-right: 20px;
	}
	
		#shapeOne:hover, #shapeOne:active {
 		border-radius: 80px;
 		height: 150px;
 		width: 150px;
 		background-color: green;
		}

#shapeTwo {
	position: relative; left: 220px; bottom: -1000px; 
	height: 150px;
 	width: 150px;
 	background-color: red;
 	margin-bottom: 30px;
 	float: left;
 	margin-right: 20px;
	}

		#shapeTwo:hover, #shapeTwo:active {
 		height: 150px;
 		width: 150px;
 		background-color: darkorange;
		}

#shapeThree {
	position: relative; left: 80px; bottom: -4400px;
	height: 0;
	width: 0;
    border-left: 75px solid transparent;
    border-right: 75px solid transparent;
    border-bottom: 150px solid green;
    float: left;
    }

		#shapeThree:hover, #shapeThree:active {
    	width: 0;
    	height: 0;
    	border-left: 75px solid transparent;
    	border-right: 75px solid transparent;
    	border-bottom: 150px solid red;
    	}


.tree{
	z-index: 1
	}
	img:hover {
  	opacity: 0.5;
}

#container {
    width: 100%; 
    margin: auto;
    text-align: center;
    font-family: Helvetica;
}
#pageTitle {
    color:white;
	font-size: 115px;
	position: relative;
	top: -5px;
}

.bodyText {
    color: white;
    font-size: 25px;
    position: relative;
    top: -30px;
}

#treeShape {
	z-index: 900;
	}

	.treetrunk {
		position:absolute; left: 230px; bottom: 100px;
	    width: 0;
	    height: 0;
	    border-left: 80px solid transparent;
	    border-right: 80px solid transparent;
	    border-bottom: 3000px solid #7e5438;
		}

	.treeShape1 {
		position:absolute; left: 1300px; bottom: 100px;
	    width: 0;
	    height: 0;
	    border-left: 60px solid transparent;
	    border-right: 60px solid transparent;
	    border-bottom: 2000px solid #7e5438;
		}

	.treeShape2 {
		position:absolute; left: 1100px; bottom: 250px;
	    width: 0;
	    height: 0;
	    border-left: 20px solid transparent;
	    border-right: 20px solid transparent;
	    border-bottom: 1000px solid #3D2314;
		}

	.treeShape3 {
		position:absolute; left: 740px; bottom: 250px;
	    width: 0;
	    height: 0;
	    border-left: 30px solid transparent;
	    border-right: 30px solid transparent;
	    border-bottom: 2000px solid #5A3825;
		}

	.treeShape4{
		position:absolute; left: 500px; bottom: 230px;
	    width: 0;
	    height: 0;
	    border-left: 30px solid transparent;
	    border-right: 30px solid transparent;
	    border-bottom: 2000px solid #3D2314;
		}

	.treeShape5{
		position:absolute; left: 600px; bottom: 280px;
	    width: 0;
	    height: 0;
	    border-left: 20px solid transparent;
	    border-right: 20px solid transparent;
	    border-bottom: 2000px solid #3D2314;
		}

	.treeShape6{
		position:absolute; left: 980px; bottom: 220px;
	    width: 0;
	    height: 0;
	    border-left: 30px solid transparent;
	    border-right: 30px solid transparent;
	    border-bottom: 2000px solid #7e5438;
		}

	.treeShape7{
		position:absolute; left: 1200px; bottom: 140px;
	    width: 0;
	    height: 0;
	    border-left: 30px solid transparent;
	    border-right: 30px solid transparent;
	    border-bottom: 2000px solid #5A3825;
		}

	.treeShape8{
		position:absolute; left: 1200px; bottom: 140px;
	    width: 0;
	    height: 0;
	    border-left: 30px solid transparent;
	    border-right: 30px solid transparent;
	    border-bottom: 2000px solid #5A3825;
		}

	.treebranch1{
		position:absolute; left: 300px; bottom: 500px;
 		width: 200px;
  		height: 13px;
  		transform: rotate(-20deg);
 		background: #7e5438;
 		}

	.treebranch2{
		position:absolute; left: 487px; bottom: 517px;
 		width: 100px;
  		height: 13px;
  		transform: rotate(20deg);
 		background: #7e5438;
		}
	.treebranch3{
		position:absolute; left: 450px; bottom: 707px;
 		width: 80px;
  		height: 8px;
  		transform: rotate(50deg);
 		background: #3D2314;
		}
	.treebranch4{
		position:absolute; left: 599px; bottom: 407px;
 		width: 100px;
  		height: 8px;
  		transform: rotate(30deg);
 		background: #3D2314;
		}
	.treebranch5{
		position:absolute; left: 580px; bottom: 867px;
 		width: 40px;
  		height: 8px;
  		transform: rotate(50deg);
 		background: #3D2314;
		}
	.treebranch6{
		position:absolute; left: 515px; bottom: 540px;
 		width: 60px;
  		height: 9px;
  		transform: rotate(-30deg);
 		background: #7e5438;
		}
	.treebranch7{
		position:absolute; left: 1015px; bottom: 540px;
 		width: 60px;
  		height: 9px;
  		transform: rotate(-30deg);
 		background: #7e5438;
		}
	.treebranch8{
		position:absolute; left: 945px; bottom: 740px;
 		width: 60px;
  		height: 9px;
  		transform: rotate(30deg);
 		background: #7e5438;
		}
	.treebranch9{
		position:absolute; left: 1265px; bottom: 540px;
 		width: 60px;
  		height: 16px;
  		transform: rotate(-30deg);
 		background: #7e5438;
		}
	.treebranch10{
		position:absolute; left: 1215px; bottom: 548px;
 		width: 70px;
  		height: 13px;
  		transform: rotate(40deg);
 		background: #7e5438;
		}
	.treebranch11{
		position:absolute; left: 1165px; bottom: 760px;
 		width: 60px;
  		height: 9px;
  		transform: rotate(40deg);
 		background: #5A3825;
		}



#path {} 

	.path1 {
		position:absolute; left: 890px; bottom: 183px;
	    width: 20px;
        height: 7px;
        background: darkgrey;
        border-radius: 100px / 50px;
		}

	.path2 {
		position:absolute; left: 893px; bottom: 165px;
	    width: 25px;
        height: 12px;
        background: darkgrey;
        border-radius: 100px / 50px;
		}

	.path3 {
		position:absolute; left: 897px; bottom: 140px;
	    width: 35px;
        height: 17px;
        background: darkgrey;
        border-radius: 100px / 50px;
		}

	.path4 {
		position:absolute; left: 905px; bottom: 106px;
	    width: 46px;
        height: 25px;
        background: darkgrey;
        border-radius: 100px / 50px;
		}

	.path5 {
		position:absolute; left: 912px; bottom: 61px;
	    width: 66px;
        height: 35px;
        background: darkgrey;
        border-radius: 100px / 50px;
		}

#house {
	z-index: 950;
	}

	.roof {
		position:absolute; left: 800px; bottom: 300px;
	    width: 150px;
	    height: 100px;
	    transform: skew(20deg);
	    background: red;
	    }

	.front {
		position:absolute; left: 818px; bottom: 200px;
		width: 130px;
		height: 100px;
		background: darkgrey;
		}

	.side {
		position:absolute; left: 763px; bottom: 200px;
		width: 55px;
		height: 100px;
		background: #616161;
		} 

	.sideroof {
		position:absolute; left: 751.5px; bottom: 300px;
    	width: 0;
    	height: 0;
    	border-left: 30px solid transparent;
    	border-right: 36px solid transparent;
    	border-bottom: 100px solid darkred;
    	}

    .door {
    	position:absolute; left: 880px; bottom: 200px;
	 	width: 20px;
	 	height: 50px;
	 	background: red;
    	}

    .window1 {
    	position:absolute; left: 840px; bottom: 230px;
	 	width: 20px;
	 	height: 20px;
	 	background: yellow;
    	}

    .window2 {
    	position:absolute; left: 916px; bottom: 230px;
	 	width: 18px;
	 	height: 20px;
	 	background: yellow;
    	}

    .windowpane1 {
    	position:absolute; left: 840px; bottom: 238.5px;
	 	width: 20px;
	 	height: 3px;
	 	background: #616161;
    	}

    .windowpane2 {
    	position:absolute; left: 849px; bottom: 230px;
	 	width: 3px;
	 	height: 20px;
	 	background: #616161;
    	}

    .windowpane3 {
    	position:absolute; left: 916px; bottom: 238.5px;
	 	width: 18px;
	 	height: 3px;
	 	background: #616161;
    	}

    .windowpane4 {
    	position:absolute; left: 924px; bottom: 230px;
	 	width: 3px;
	 	height: 20px;
	 	background: #616161;
    	}

	.blacktriangle {
		position:absolute; left: 750px; bottom: 140px;
      	width: 0;
     	height: 0;
      	border-top: 30px solid transparent;
      	border-left: 100px solid black;
     	border-bottom: 50px solid transparent;
    	}

#moon {}

    .moon {
    	position:absolute; left: 1100px; bottom: 760px;
		width: 100px;
		height: 100px;
		background: #f5f3ce;
		border-radius: 50%;
		z-index: -1; 
    	}

    .mooncutout {
 		position:absolute; left: 1145px; bottom: 790px;
		width: 80px;
		height: 80px;
		background: black;
		border-radius: 50%;
		z-index: -1; 
    	}
    	


	.pgcontent {
		padding-bottom: 2000px; 
	    color:white;
		font-size: 70px;
		position: relative;
		top: -150px;
		display: flex;
		justify-content: center;
		align-items: center;
		min-height: 100vh;
		font-family: consolas;
		z-index: -1;
		}

	.pgtitleReveal {
		max-width: 1100px;
		}
		.pgtitleReveal span
		{
		display: inline-block;
		position: relative;
		opacity: 0;
		transition: 1s: 
		font-size: 4em;
		}

	.pgone {
		margin-left: 300px;
		margin-right: 350px;
		position: relative;
		top: -2000px;
		color:white;
		font-size: 20px;
		font-family: consolas;
		}

	.pgtwo {
		margin-left: 300px;
		margin-right: 350px;
		position: relative;
		top: -1500px;
		color:white;
		font-size: 20px;
		font-family: consolas;
		}

	.pgthree {
		margin-left: 300px;
		margin-right: 350px;
		position: relative;
		top: -1000px;
		color:white;
		font-size: 20px;
		font-family: consolas;
		}

	.citation {
		margin-left: 300px;
		margin-right: 350px;
		position: relative;
		top: -60px;
		color:white;
		font-size: 14px;
		font-family: consolas;
		}
